.container {
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  margin-top: 10px;
}

.leftButton {
  cursor: pointer;
  margin: 16px 10px;
  color: gray;
}

.rightButton {
  margin-left: auto;
}

.error {
  height: 10px;
  margin: 8px auto;
  color: red;
}