.root {
  margin: 5px;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  height: 100%;
}

.festival {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  color: white;
}

.header {
  display: flex;
}

.burger {
  font-size: 2em;
}

.dates {
  background-color: rgb(43, 43, 43);
  color: white;
  border-radius: 8px;
  margin: 12px 6px;
}

.daytitle {
  background-color: #333;
  padding: 10px;
  border-left: 5px solid #ff4500;
}

.stages {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
}

.stagesnow {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
}

.now {
  background-color: #333;
  padding: 10px;
  border-left: 10px solid greenyellow;
  color: white;
  font-size: 1.2em;
}

.next{
  background-color: #333;
  padding: 10px;
  border-left: 10px solid green;
  color: white;
  font-size: 1.2em;
}

.shownow{
  background-color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 6px;
  border-left: 2px solid greenyellow;
}

.shownext{
  background-color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 6px;
  border-left: 2px solid green;
}

.buttons {
  display: flex;
  margin-left: auto;
}

.error {
  margin: 4px 8px;
  color: red;
}