.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.label {
  color: rgb(68, 68, 68);
  font-size: 1.2rem;
  font-weight: bold;
}

.input {
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
  background-color: white;
  color: #333;
}

.input:focus {
  outline: none;
  border-color: #646cff;
}
